@import '../../variables';

.about {
  background-color: #2b2a28;
  min-height: 100%;
  width: 100%;
}

.about__container {
  margin-top: $nav-height;
  border-top: 1px solid white;
}

.about__content {
  margin: auto;
  max-width: 800px;
  padding: 0.5rem;
}

.about__title {
  color: $red;
  font-size: 5rem;
  font-family: BebasNeue, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5rem;
  line-height: 6rem;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
}

.about__copy {
  color: white;
  font-family: PT Mono, monospace;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
}
