@import "../../variables";

.splash {
  background-color: $dark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
}

.splash__copy {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width: $desktop-min-width;

  @media(min-width: $tablet-min-width) {
    justify-content: center;
  }

  p,a {
    color: white;
    font-family: PT Mono, monospace;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0;
  }
}

.splash__intro {
  margin-bottom: 1rem;

  h1 {
    color: $red;
    font-size: 4rem;
    font-family: BebasNeue, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5rem;
    line-height: 5rem;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;

    @media(min-width: $tablet-min-width) {
      font-size: 5rem;
      line-height: 6rem;
    }
  }
}

.splash__search {
  padding-bottom: 1rem;
}

.splash__logo {
  width: 100px;

  @media(min-width: $tablet-min-width) {
    width: 200px;
    left: 1rem;
    position: absolute;
    top: 1rem;
  }
}
