@import '../../variables';

.search {
  position: relative;

  label,small {
    color: white;
    font-family: PT Mono, monospace;
    text-transform: uppercase;
  }

  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.25rem
  }

  input {
    background: $grey url("/icons/search.svg") no-repeat center right;
    background-size: 40px 20px;
    border: none;
    box-sizing: border-box;
    color: white;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    padding: 0.5rem;
    width: 100%;
  }
}

small {
  left: 0;
  position: absolute;
  margin-top: 0.25rem;
  top: 100%;
}

.search__suggestions {
  left: 0;
  list-style: none;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.search__suggestion {
  button {
    background: #333;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    padding: 0.5rem;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: #444;
      cursor: pointer;
    }
  }
}
